/* Import */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Root */
:root {
    --primary-color: #ff6000;
    --primary-dark: #282b2d;
    --primary-grey: #93979c;
    --light-grey: #c9d6df;
    --white: #ffffff;
    --red: #ff005c;
    --green: #2eb872;
    --yellow: #ffc300;
    --blue: #0074e4;
}

/* Body */
body {
    font-family: Inter, sans-serif;
}

/* Avatar */
.avatar {
    border-radius: 100%;
}
.avatarLg {
    width: 80px;
}
.avatarMd{
    width: 60px;
}
.avatarSm {
    width: 40px;
}

/* Alert */
.alert {
    border-radius: 5px;
    padding: 1rem;
    color: var(--white);
    max-width: 60%;
    margin: auto;
}
.alertDanger {
    background-color: var(--red);
}
.alertSuccess {
    background-color: var(--green);
}
.alertWarning {
    background-color: var(--yellow);
}
.alertInformative {
    background-color: var(--blue);
}

/* Badges */
.badge {
    color: var(--white);
    background-color: var(--red);
}
.badgeSquare {
    padding: 5px;
}
.badgeCircle {
    border-radius: 100%;
    padding: 1px 5px;
}
.badgeOval {
    border-radius: 1rem;
    padding: 5px;
}
.badgeOnline {
    border: 3px solid var(--white);
    font-size: 8px;
    color: var(--green);
    background-color: var(--green);
    border-radius: 100%;
    padding: 2px 4px;
}
.avatarBadgeLg {
    position: relative;
    right: 2rem;
    bottom: 0.7rem;
}
.avatarBadgeMd {
    position: relative;
    right: 1.7rem;
    bottom: 0.5rem;
}
.avatarBadgeSm {
    position: relative;
    right: 1.2rem;
    bottom: 0.3rem;
}

    /* -- dismiss -- */
.dismiss {
    cursor: pointer;
    color: var(--white);
    background-color: var(--primary-dark);
    padding: 5px 7px;
    border-radius: 100%;
}

/* Buttons */
.btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 3px solid var(--primary-color);
    cursor: pointer;
    margin: 0.5rem 0;
}
.btn:focus{
    outline: none;
}
.btnPrimary {
    color: var(--white);
    background-color: var(--primary-color);
}
.btnSecondary {
    color: var(--primary-color);
    background-color: var(--white);
}
.link {
    text-decoration: none;
    color: var(--primary-color);
}
.btnIcon {
    text-decoration: none;
    color: var(--primary-color);
}
.btnFloating {
    position: fixed;
    right: 1rem;
}
/* Card */
.card {
    width: 18rem;
    text-align: center;
}
.textLeft {
    text-align: left;
}
.cardImg {
    max-width: 100%;
}
.cardDetails {
    text-align: left;
}
.cardName {
    font-weight: bold;
    font-size: 20px;
}
.cardSectionName {
    color: var(--primary-grey);
}
.cardPrice {
    font-weight: bold;
    font-size: 24px;
}
.cartOrWishlist {
    margin-bottom: 1rem;
}
/* -- card badge -- */
.cardWithBadge {
    position: relative;
}
.cardBadge {
    position: absolute;
    top: 2rem;
    left: 2rem
}
/* -- dismiss card -- */
.dismissCard {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
/* -- shadow card -- */
.cardShadow {
    box-shadow: 10px 10px 10px var(--primary-grey);
}

/* Image */
.img {
    max-width: 100%;
}
.imgRound {
    border-radius: 100%;
}

/* Input */
.inputDiv {
    padding: 0.5rem;
}
.input {
    width: 10rem;
    padding: 0.5rem;
    border: 1px solid var(--primary-dark);
    border-radius: 3px;
}

/* List */
.listInline {
    display: flex;
}
.listStyleNone {
    list-style-type: none;
}
   /* stacked list */
.listStacked {
    width: fit-content;
}
.listStackedItem {
    width: fit-content;
}

/* Notification */
.notification {
    border-bottom: 1px solid var(--primary-dark);
    padding: 0 0.5rem;
    width: 20rem;
}
.notificationVia {
    font-weight: bold;
}
.notificationFor {
    font-weight: bold;
}

/* Nav */
.navbar {
    background-color: var(--primary-color);
    padding: 1px;
    border-radius: 1rem;
}
.navPill {
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.selectedNavPill {
    font-weight: bold;
}

/* Grids */
.grid {
    display: grid;
}

.grid3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid2 {
    grid-template-columns: 1fr 1fr;
}

.gridExampleDiv {
    background-color: var(--green);
    width: 80%;
    padding: 3rem;
}

/* Text Utilities */
.greyText {
    color: var(--primary-grey);
}

.centerText {
    text-align: center;
}

/* Notify */
.notify {
    border-radius: 0.5rem;
    width: fit-content;
    padding: 1rem;
    background-color: var(--light-grey);
}

.notifyDanger {
    background-color: var(--red);
}

.notifySuccess {
    background-color: var(--green);
}